<h3>All Facebook Posts - <%= @influencer.first_name %> <%= @influencer.last_name %></h3>


<table>
  <tr>
    <th>Post id</th>
    <th>Action</th>
  </tr>

  <% @post_list.each do |post| %>
    <tr>
      <td><%= post %></td>
      <td><%= link_to 'View Analytics', post_show_path(@influencer.id,post) %></td>
    </tr>
  <% end %>
</table>

<style>
  table, th, td {
      border: 1px solid #ccc;
      border-collapse: collapse;
      width:100%;
  }
  th, td {
      padding: 15px;
      text-align: center;
      font-weight: normal;
  }
</style>
