<h3>Payment</h3>

<form action="/payment/create" method="POST">
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_V8MKauk5DAjJP4"
    data-amount="5000"
    data-buttontext="Pay with Razorpay"
    data-name="Skreem"
    data-description="Silver Plan"
    data-image="http://www.on.lung.ca/image/events---tulip-day/2015-tulip-day/get-money.png"
    data-prefill.name="Renil Raphy"
    data-prefill.email="renil@mink7.com"
    data-theme.color="#F37254"
></script>
</form>
